<div class="row">
    <div class="col-md-6 bg-success p-5">
        <h3>One way</h3>
        <div class="row">
            <div class="col-6 bg-warning p-2">
                from .ts to .html
                <br> 
                Interpolation & Property Binding
            </div>
            <div class="col-6 bg-secondary">
                from .html to .ts
                <br>
                Event Binding
            </div>
        </div>
    </div>
    <div class="col-md-6 bg-danger">
        <h3>Two way</h3>
    </div>

</div>
<div class="row p-3">
    <h1>from .ts to .html</h1>
    <div class="col-6 p-3">
        <h2>Interpolation</h2>
        <p>variable coming from interpolation:- <span class="fw-bold">{{courseName}}</span> </p>
        <input type="text" value="{{courseName}}">
    </div>
    <div class="col-6 p-3">
        <h2>Property Binding</h2>
        <input type="text" [value]="courseDuration" [placeholder]="myPlaceholder">
        <div [class]="myClass">Dynamic Class</div>
    </div>
</div>
<div class="row col-12 p-3">
    <h1 class="underline">from .html to .ts</h1>
    <h2>Event Binding</h2>
    <div class="row">
        <div class="col-3">
            <button class="btn btn-primary" (click)="showAlert()">Welcome Alert</button>
        </div>
        <div class="col-3">
            <button class="btn btn-danger" (click)="showMsg('Angular')">Angular</button>
        </div>
        <div class="col-3">
            <button class="btn btn-info" (click)="showMsg('React')">React</button>
        </div>
        <div class="col-3">
            <select (change)="onStateChange()">
                <option>Lahore</option>
                <option>Karachi</option>
                <option>Islambad</option>
                <option>Peshawar</option>
            </select>
        </div>
    </div>
</div>

<div class="row p-3">
    <h2>Two way data binding by ng model</h2>
    <div class="col-3">
        <input type="text" [(ngModel)]="courseName">
    </div>
    <div class="col-3">
        <span class="fs-3 me-3">{{isActive}}</span>
        <input type="checkbox" [(ngModel)]="isActive">
    </div>
</div>
