<div class="row p-3">
    <div class="col-3">
        <div class="bg-success p-3 text-light" *ngIf="isDiv1Visible">Div 1</div>
    </div>
    <div class="col-3">
        <div class="bg-danger p-3 text-light" *ngIf="isDiv2Visible">Div 2</div>
    </div>
    <div class="col-3">
        {{num1==num2}}
        <div class="bg-info p-3 text-light" *ngIf="num1 == num2">Div 3</div>
    </div>
    <div class="col-3">
        <div class="row">
            <div class="col-6">
                <label for="">Select Cast</label>
                <select class="form-control" [(ngModel)]="selectedCast">
                    <option>Arain</option>
                    <option>Khan</option>
                    <option>Butt</option>
                    <option>Mughal</option>
                    <option>Other</option>
                </select>
            </div>
            <div class="col-6" *ngIf="selectedCast == 'Other'">
                <label for="">Other Cast</label>
                <input type="text" class="form-control" placeholder="Enter you cast">
            </div>
        </div>
    </div>
</div>

<div class="row pt-2">
    <div class="col-3 text-center">
        <button class="btn btn-danger" (click)="hideDiv1()">Hide</button>
        <button class="btn btn-success mx-2" (click)="showDiv1()">Show</button>
    </div>
    <div class="col-3 text-center">
        <button class="btn btn-danger" (click)="hideShowDiv2(false)">Hide</button>
        <button class="btn btn-success mx-2" (click)="hideShowDiv2(true)">Show</button>
    </div>
    <div class="col-3 text-center">
        <input type="text" placeholder="Num 1" [(ngModel)]="num1">
        <input type="text" placeholder="Num 2" [(ngModel)]="num2">
    </div>
</div>